/* generics */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
}

/* utilities */

/* content */

#grid {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  background-color: lightgray;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: calc(100% / 10);
  height: calc(100% / 10);
  background-color: grey;
}


.cell.hard {
  width: calc(100% / 7);
  height: calc(100% / 7);
}

.cell.medium {
  width: calc(100% / 9);
  height: calc(100% / 9);
}

.cell.easy {
  width: calc(100% / 10);
  height: calc(100% / 10);
}


.bg-blue{
  background-color: rgb(0, 209, 228);
}

.bg-red{
  background-color: rgb(228, 0, 0);
}

.n-cursor{
  cursor: none;
}

