/* generics */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'League Gothic', sans-serif;
  text-align:center;
  background-color: rgb(240, 221, 145);
}

/* utilities */

/* content */

#grid {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  background-color: lightgray;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

body h1{
  margin: 25px;
  font-size: 5rem;
 }

body h2{
  margin: 25px;
  font-size: 3rem;
 }

.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.cell {
  width: calc(100% / 10);
  height: calc(100% / 10);
  background-color: rgb(255, 255, 255);
  text-align: center;
  border: 1px solid black;
}

.cell.hard {
  width: calc(100% / 7);
  height: calc(100% / 7);
}

.cell.medium {
  width: calc(100% / 9);
  height: calc(100% / 9);
}

.cell.easy {
  width: calc(100% / 10);
  height: calc(100% / 10);
}


.bg-blue{
  background-color: rgb(0, 209, 228);
}

.bg-red{
  background-color: rgb(228, 0, 0);
}

.bg-green{
  background-color: rgb(21, 255, 0);
}

.n-cursor{
  pointer-events: none;
  cursor: default;
}

